<ion-content>


	<ion-row>
		<ion-col style="text-align: center">
			<ion-img src="../../assets/img/cartaoGrande.png"></ion-img>
			<h1>FATURA DETALHADA</h1>
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col style="text-align: center">
			<h2>R$ 00,00</h2>
            <h3>LUGAR LUGAR</h3>
        </ion-col>
	</ion-row>

    	<ion-row>
		<ion-col style="text-align: center">
			<h2>R$ 00,00</h2>
            <h3>LUGAR LUGAR</h3>
        </ion-col>
	</ion-row>

    	<ion-row>
		<ion-col style="text-align: center">
			<h2>R$ 00,00</h2>
            <h3>LUGAR LUGAR</h3>
        </ion-col>
	</ion-row>



</ion-content>