ion-content ion-toolbar {
  --background: translucent;
}

h1 {
  position: absolute;
  width: 318px;
  height: 104px;
  left: 62px;
  top: 44px;

  font-family: Exo;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 106.65%;
  /* or 48px */

  letter-spacing: -0.04em;

  color: #6b6b6b;
}

ion-img {
  
  width: 51.82px;
  height: 60px;
  
}

h2 {
  color: #bfab41;

}
