ion-content ion-toolbar {
  --background: translucent;
}

ion-header {
  background-color: skyblue;
}

ion-img {
  width: 200px;
}

p {
  color: blue;
}

ion-card {
  font-size: 19px;
  width: 350px;
}

h1 {
  margin-right: 50px;
  font-size: 20px;
  -webkit-box-shadow: -1px -9px 5px 1px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: -1px -9px 5px 1px rgba(0, 0, 0, 0.47);
  box-shadow: -1px -9px 5px 1px rgba(0, 0, 0, 0.47);
}

h2 {
  color: green;
  font-size: 20px;
}

ul li {
  display: inline-block;
}

.a1 {
  color: black;
}

.a2 {
  text-align: center;
  color: green;
}

.caixa1 {
  background-color: #e3e1dc;
}

ion-range {
  background: #e3e1dc;
  --bar-background: #ababab;
  --bar-background-active: #59de5f;
  --pin-color: white;
  --pin-background: white;
  --knob-background: white;
  --bar-height: 10px;
}

ion-icon {
  color: #59de5f;
}
